{{ define "main" }}
<section id="wrapper">
    <header>
        <div class="inner">
            <h2>{{ .Title }}</h2>
        </div>
    </header>
    <div class="wrapper">
        <div class="inner">
            <section class="features">
                {{ range $index, $page := .Pages }}
                <article>
                    {{ $original := $page.Resources.GetMatch "preview.*" }}
                    <a href="{{ $page.Permalink }}" class="image square" style="background-image: url(/images/pic0{{ add (mod $index 4) 4 }}.jpg)">
                        <img src="{{ ($original.Fit "450x250 Linear").Permalink }}" alt="{{ $page.Title }}" />
                    </a>
                    <h3 class="major">{{ $page.Title }}</h3>
                    <p>{{ $page.Summary | plainify }}</p>
                    <a href="{{ $page.Permalink }}" class="special">Learn more</a>
                </article>
                {{ end }}
            </section>
        </div>
    </div>
</section>
{{ end }}