{{ define "main" }}

<section id="banner">
    <div class="inner">
        <div class="logo align-center"><img src="/logo.png"></div>
        <p class="align-center">Best quality, Best service, Best price</a></p>
    </div>
</section>

<section id="wrapper">
    <!-- Content -->
    <section id="one" class="wrapper spotlight style1">
        <div class="inner">
            <a href="#" class="image square"><img src="/images/ultra.jpg" alt="" /></a>
            <div class="content">
                <h2 class="major">Ultra Anchors</h2>
                <p>Manufactured in Europe, the Ultra Anchor range is the pinnacle in anchoring technology and design. Completely hand made from 316 stainless steel and hand polished, every Ultra Anchor is designed for excellence.</p>
                <a href="#" class="special">Learn more</a>
            </div>
        </div>
    </section>

    <section id="two" class="wrapper alt spotlight style2">
        <div class="inner">
            <a href="#" class="image"><img src="/images/kova.png" alt="" /></a>
            <div class="content">
                <h2 class="major">Kova Pumps</h2>
                <p>KOVA Pumps are a quality centrifugal magnetic pump competitively priced and manufactured in different sizes. We can confidently replace all other brands with an equivalent KOVA pump without the huge cost</p>
                <a href="#" class="special">Learn more</a>
            </div>
        </div>
    </section>

    <section id="footer">
        <div class="inner">
            <h2 class="major">Get in touch</h2>
            <p>Cras mattis ante fermentum, malesuada neque vitae, eleifend erat. Phasellus non pulvinar erat. Fusce tincidunt, nisl eget mattis egestas, purus ipsum consequat orci, sit amet lobortis lorem lacus in tellus. Sed ac elementum arcu. Quisque placerat auctor laoreet.</p>
            <form method="post" action="#">
                <div class="fields">
                    <div class="field">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name" />
                    </div>
                    <div class="field">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" />
                    </div>
                    <div class="field">
                        <label for="message">Message</label>
                        <textarea name="message" id="message" rows="4"></textarea>
                    </div>
                </div>
                <ul class="actions">
                    <li><input type="submit" value="Send Message" /></li>
                </ul>
            </form>
            <ul class="contact">
                <li class="fa-home">
                    Untitled Inc<br />
                    1234 Somewhere Road Suite #2894<br />
                    Nashville, TN 00000-0000
                </li>
                <li class="fa-phone">(000) 000-0000</li>
                <li class="fa-envelope"><a href="#">information@untitled.tld</a></li>
                {{/* <li class="fa-twitter"><a href="#">twitter.com/untitled-tld</a></li>
                <li class="fa-facebook"><a href="#">facebook.com/untitled-tld</a></li>
                <li class="fa-instagram"><a href="#">instagram.com/untitled-tld</a></li> */}}
            </ul>
            <ul class="copyright">
                <li>&copy; CATA Group Pty Ltd. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
            </ul>
        </div>
    </section>
</section>

{{ end }}